doctype html
html(lang="en")
  head
    title Hashtag Finder
  body
    header
      h1 Hashtag Finder
      p [display user information here] [logout button]
    main
      section#search
        p [insert search bar here]
        section#twitter
          p [display twitter results here]
      section#instagram
        p [display instagram results here]
    footer
      p This app is developed by Caroline
