extends layout

block content
  h1 Hello!
  p If you're logged in you can make your search here
  p If you're not logged in you will see the login page instead
  
  include search
  if(hashtag)
    include result
