extends layout

block content
  .jumbotron.jumbotron-fluid.justify-content-center
    .container.text-center
      h1.display-2 Hashtag Finder
      p If you're logged in you can make your search here. If not you will see the login page instead
      include search
  if(hashtag)
    include result
