doctype html
html(lang="en")
  head
    title Hashtag Finder
  body
    header
      h1 Hashtag Finder
      p [display user information here] [logout button]
    main
      a(href="login")
        button(type="button") Instagram Login
